@model IEnumerable<ASM.Models.DTOs.AppointmentDTO>

@{
    ViewData["Title"] = "PatientAppointment";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="container">
    @if (Model != null)
    {
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Doctor Name</th>
                    <th class="text-center">Category Name</th>
                    <th class="text-center">Hospital Name</th>
                    <th class="text-center">Location Name</th>
                    <th class="text-center">Note</th>
                    <th class="text-center">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    @if (item.Date.Date == DateTime.Now.Date || item.Date.Date == DateTime.Now.Date.AddDays(1))
                    {
                        <tr>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Date)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.DoctorName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.CategoryName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.HospitalName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.LocationName)</td>
                            <td class="text-center">@Html.DisplayFor(modelItem => item.Note)</td>
                            <td class="text-center">
                                <a href="/pay/@item.Id" class="btn btn-primary">Pay Now</a>
                                <a href="/patient/delete-appointment/@item.Id" class="btn btn-danger">Cancel</a>
                            </td>
                        </tr>
                    }
                }
            
            
        </tbody>
    </table>
    }
    else
    {
        <h1>You dont have any appointments today</h1>
    }

    </div>

